body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: orange;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section.contact {
    background-color: black;
    padding: 50px;
    text-align: center;
}

.contact h2 {
    color: orange;
    font-size: 36px;
    margin-bottom: 20px;
    margin: 60px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-item {
    margin: 20px;
    text-align: center;
}

.contact-item h3 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    background-color: orange;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    color: black;
    font-size: 14px;
    margin: 0;
}
